:root {
    --text-color:#10016d;
    --link-color:#5e78ba;
    --background-color: #dcd1e8;

} 
*{

   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

html{
scroll-behavior: smooth;
}

body{
font-family: 'League Spartan',sans-serif;
background-color: var(--background-color);
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/*nav bar*/
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
}

nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 8px 12px;
    border-radius: 5px;
}